nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 55px;
	background-color: white;
	border-bottom: 1px solid #9396A0;
	}

ul {
	list-style-type: none;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.nav-li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	top: 0;
	font-size: 20px;
}

li a{
	
	text-decoration: none;
	font-family: 'Noto Serif SC', serif;
	color: #4B2E39;
}

li a:hover {
	background-color: #9197AE;
}


nav h1 {
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}


@media all and (min-width: 800px) {
	
	nav {
		position: fixed;
		width: 30%;
		left: 0;
		top: 33%;
		border-bottom: none;
	}

	ul {
		list-style-type: none;
		position: relative;
	}

	.nav li {
		display: block;
		margin-left: 5%;
		text-align: center;
	}

	nav h1 {
		text-align: center;
	}


}