
footer {
	position: fixed;
	bottom: 10px;
	width: 100%;
	text-align: center;
}


footer a {
	color: #9197AE;
	font-size: 20px;
	padding: 2px;
}

footer a:hover{
	font-size: 22px;
	color: #444054;
}



@media all and (min-width: 800px) {
	footer {
		top: 50%;
		width: 30%;
		left: 0;
		color: #DCDCDC;
	}
	
}