
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}


footer a {
	color: black;
	font-size: 20px;
	padding: 2px;
}



@media all and (min-width: 800px) {
	footer {
		position: fixed;
		width: 30%;
		left: 0;
		bottom: 35%;
		color: #DCDCDC;
	}
	
}