hr {
	display: none;
}

#projects-container {
	position: fixed;
	top: 50px;
	justify-content: center;
}

.portfolio-photo {
	width: 90%;
	margin-top: 20px;
	max-height: 400px;
	margin-bottom: 0px;
}

@media all and (min-width: 800px) {
	#projects-container {
			position: fixed;
			left: 30%;
			top: 5%;
			width: 60%;
			border-bottom: none;
			margin-top: 0px;
			max-width: 800px;
			
		}

	hr {
		display: block;
	}
}