hr {
	display: none;
}

.project-title {
	text-align: center;
}
#projects-container {
	position: absolute;
	top: 56px;
	height: 90%;
	overflow: auto;
	left: 0;
	right: 0; 
	background-color: #F7F7F7;
}


.decorative-line {
	background-color: white;
	height: 60px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.decorative-line:hover{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.project-flex {
	display: flex;                     
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: flex-end;
  margin-top: 15px;
}

.project-container {
	margin-bottom: 40px;
	text-align: center;
}

.portfolio-photo {
	width: 90%;
	margin-top: 20px;
	margin: auto;
	border: 1px solid #cdcdcd;
	margin-bottom: 0;
}

.technology-list{
	all: initial;
	top: 0;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.technology-item {
	all: initial;
	background-color: #C8C8C8;
	font-family: 'Unica One', cursive;
	margin: 1px;
	padding: 10px;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
}

.technology-item:hover {
	background-color: #8E8E8E;
	color: white;
	border: 2px solid #8E8E8E;
}


.button-links {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
	width: 45%;
	margin: 1px;
	margin-top: 0px;
	background-color: #444054;
	color: white;
	height: 50px;
	font-size: 20px;
	padding: 0;
	text-transform: uppercase;
}

.button-links:hover{
	background-color: #9197AE;
	border: 2px solid #9197AE;
}


.link-text {
  font-family: 'Unica One', cursive;
  margin-top: 7px;
  font-size: 30px;
  text-transform: uppercase;
}


.description {
	font-size: 120%;
}


.project-button:hover {
	background-color: #9197AE;
}

.project,
.project * {
	box-sizing: border-box;
}
.project {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	text-align: center;
}
.project img {
	max-width: 100%;
}
.project .portfolio-photo {
	display: block;
}


h3 {
	line-height: 0;
}

.project .project-box {
	margin: auto;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 100%;
	background: rgba(27, 25, 33, 0.9);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	border: 2px solid black;
}

.project:hover .project-box,
.project.active .project-box {
	opacity: 1;

}
.project .project-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.project .project-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.project.active .project-text_mobile {
	display: block;
}



.project .slideright {
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.project:hover .slideright,
.project.active .slideright {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.project-description {
	width: 100%;
	font-size: 85%;
}

.trello-link {
	display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
	width: 90%;
	margin-top: 0px;
	background-color: #845A6D;
	color: white;
	height: 50px;
	font-size: 20px;
	padding: 0;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.trello-link:hover{
	background-color: #444054;
	border: 2px solid #444054;
}


@media all and (min-width: 600px) {

	.description {
		display: block;
	}

	.project-description {
		padding: 10%;

	}

}

@media all and (min-width: 800px) {
	.project-description {
		font-size: 120%;
	}
}

@media all and (min-width: 1080px) {
	#projects-container {
			position: fixed;
			left: 25%;
			top: 0%;
			border-bottom: none;
			margin-top: 0px;
			width: 75%;
			height: 100%;
			box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
		}

	.project-description {
		font-size: 150%;
		padding: 5%;
		margin-top: 10px;
	}

	.project-title {
		text-align: center;
	}

	.portfolio-photo {
		width: 90%;

	}

	hr {
		display: block;
	}


}

@media all and (min-width: 1500px) {

	.project-container {
		max-width: 50%;
	}
	.project-description {
		font-size: 100%;
		padding: 5%;
	}
}